.nav
{
    color: white;
    display:flex;
    text-align:center;
    justify-content:space-around;
    background-color: navy;
    align-items: center;
    padding:20px;
   
}
.d-block{
    height: 400px;
    width: 200px;
}
.ab{
   padding: 20px;
   margin: 20px;
   text-align:left;
   justify-content:left;
}
.ab{
    color: navy;
    text-align:left;
    justify-content:flex-start;
}
.ph3{
    padding: 50px;
    display:flex;
   
 
    text-align:center;
    justify-content:center;
    background: linear-gradient(to right,rgb(96, 145, 166),rgb(208, 218, 215));


}
.carousel-control-next-icon {
    color: navy ;
}
.carousel-control-prev-icon {
    color: navy;
}
.carousel slide{
    background-color: aqua;
}
.b{
    background-color:  navy;
    color: white;
}
.im
{
   
    width: 200px;
    height: 200px;
}
.bg
{
    background-image: url("hero__gnfk5g59t0qe_xlarge_2x 1.png");
    background-size: cover;
    align-items:center;
    justify-items:center;
   
 
    

}
.am{
    width: 350px;
    height: 450px;
}

.right{
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}
.pp{
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.left{
    justify-content: center;
    align-items: center;

}
.bg{
  padding-left:500px ;

}
.M{
    font-weight:100;
}

    .d-block{
        height: 400px;
        width: 200px;
    }
    .ab{
       padding: 20px;
       margin: 20px;
       text-align:left;
       justify-content:left;
    }
    .ab{
        color: navy;
        text-align:left;
        justify-content:flex-start;
    }
    .ph3{
        padding: 50px;
        display:flex;
       
     
        text-align:center;
        justify-content:center;
        background: linear-gradient(to right,rgb(96, 145, 166),rgb(208, 218, 215));
    
    
    }
    .carousel-control-next-icon {
        color: navy ;
    }
    .carousel-control-prev-icon {
        color: navy;
    }
    .carousel slide{
        background-color: aqua;
    }
    .b{
        background-color:  navy;
        color: white;
    }
    .im
    {
       
        width: 200px;
        height: 200px;
    }
    .bg
    {
        background-image: url("hero__gnfk5g59t0qe_xlarge_2x 1.png");
        background-size: cover;
        align-items:center;
        justify-items:center;
       
     
        
    
    }
    .am{
        width: 350px;
        height: 450px;
    }
    
    .right{
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
    .pp{
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
    
    .left{
        justify-content: center;
        align-items: center;
    
    }
    .bg{
      padding-left:500px ;
    
    }
    .M{
        font-weight:100;
    }
    .item {
      
       
          justify-content: center;
        align-items: center;
        
      }
    
    
      .box{
        text-align: center;
}
      
    .f{
      
    
display:flex;
gap: 190px;
    

  }
  .img{


    width: 150px;
    height: 200px;
  }
  .bo{
  
    align-content:center;
 justify-content: center;
 align-items: center;
 text-align: center;
  }
  .pro{
gap: 100px;
align-items:center;
justify-content: center;

  }
  .pe{

    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .buy{
    
        background-color: black;
        color: #ffffff;
    


  }
  .blue-text{
    color: blue;
  }

  
.pe{
text-align: center;
}
.last
{
    justify-content:space-around;
    align-items:left;
     padding: 100px; 
     background-color:rgb(19, 107, 107) ;
}
.sale{
    text-align: center;
   justify-content: center;
   align-items: center;
  
   padding: 10px;

}
.gg
{

    height: 320px;
    width: 280px;
}
.pay{
    text-align:left;
    justify-content: center;
    align-items: center;

}
.buy{
    text-align:left;
    justify-content: center;
    align-items: center;

}
.logo{
    gap: 10px;
    
}

  

.na
{
    color: white;
    display:flex;
    text-align:top;
    justify-content:space-around;
    background-color: black;
    align-items: top;
    padding:50px;
   
}